#!/usr/bin/env python
# -*- coding: utf-8 -*-
if "{{ type }}" == "prod":
    # We're setting up Prod from co-app
    # Assumes default appname for setup!
    db2 = DAL("sqlite://storage.db", folder=os.path.join("/", "home", "setup", "applications", "eden", "databases"), auto_import=True)
    utable = db2.auth_user
    user = db2(utable.id > 0).select(utable.first_name, utable.last_name, utable.email, utable.password).last()
# @ToDo
#elif "{{ type }}" == "setup":
#    # We're setting up co-app from Prod
else:
    # Not supported
    exit()

user_id = db.auth_user.insert(first_name=user.first_name, last_name=user.last_name, email=user.email, password=user.password)
user.id = user_id
user.organisation_id = None
user.org_group_id = None
user.link_user_to = None
auth.s3_approve_user(user)
auth.add_membership(1, user_id)
db.commit()